
.container {
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
}

.resizer {
    width: 5px;
    min-width: 5px;
    background-color: var(--light-primary);
    margin-left: 10px;
    margin-right: 10px;
    cursor: col-resize;
    border: 1px solid var(--lightest-border);
}

.panel {
    position: relative;
}

.stickyPanel {
    position: sticky;
    top: 0px;
    height: 100vh;
}

@media (max-width: 800px) { /* Apply styles when the screen width is 800px or smaller */
    .resizer {
        display: none;
    }
    .containerStackOnMobile {
        flex-direction: column;
        gap: 1rem;
    }
    .stickyPanel {
        position: unset;
    }
}
