flask
openai>=1.3.7
gunicorn
gevent
flask_cors
pymysql
pyjwt
scikit-learn
pypdf
pymupdf
boto3
unstructured>=0.6.7
psutil
stripe
celery
redis
watchdog
beautifulsoup4
html2text
markdownify
flask-socketio
gevent-websocket
anthropic
mutagen
youtube-transcript-api
pytube
python-dotenv
pdfkit
tiktoken
pillow
pyheif
