
.container {
    min-width: 300px;
    min-height: 150px;
    background-color: var(--light-primary);
    border-radius: var(--medium-border-radius);
    border: 1px solid var(--light-border);
    padding: 1rem;

    display: flex;
    gap: 10px;
    cursor: default;
    align-items: flex-start;
}

.itemContainer {
    display: flex;
    gap: 10px;
    background-color: var(--dark-primary);
    color: var(--light-text);
    padding: 10px;
    font-size: .9rem;
    transition: all .1s ease-in-out;
    cursor: pointer;
    align-items: center;
    border-radius: var(--small-border-radius);
}

.itemContainer:hover {
    background-color: var(--dark-highlight);
}
