
@keyframes fadeInToQuarter {
    from { opacity: 0; }
    to { opacity: .25; }
}

@keyframes fadeInFull{
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInToHalf{
    from { opacity: 0; }
    to { opacity: .5; }
}

@keyframes fadeInFromHalf{
    from { opacity: .5; }
    to { opacity: 1; }
}
