

.pagination {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.pageItem {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--dark-primary);
    cursor: pointer;
    color: var(--light-text);

    transition: .1s background-color ease-in-out;
}

.pageItem:hover {
    background-color: var(--dark-highlight);
}